black==22.8.0
click==8.0.4
dataclasses==0.8
Flask==2.0.3
Flask-Script==2.0.6
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.0
python-dotenv==0.20.0
tomli==1.2.3
typed-ast==1.5.4
typing_extensions==4.1.1
uWSGI==2.0.21
Werkzeug==2.0.3
zipp==3.6.0
